flask
ipyupload 
jsonpickle
opencv-python
requests
imageio
Gymnasium 
stable-baselines3[extra] >=2.0.0a4
imageio-ffmpeg
ffmpeg 
Pillow
pytest
robotframework
robotframework-seleniumlibrary
tensorboardx 
